testng.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="suite" type="suiteType"/>
  <xs:complexType name="testType">
    <xs:sequence>
      <xs:element type="xs:string" name="classes"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="verbose"/>
    <xs:attribute type="xs:string" name="preserve-order"/>
    <xs:attribute type="xs:string" name="name"/>
  </xs:complexType>
  <xs:complexType name="suiteType">
    <xs:sequence>
      <xs:element type="testType" name="test"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name"/>
  </xs:complexType>
</xs:schema>